    <!-- ==========Banner-Section========== -->
<!--<section class="main-page-header speaker-banner" style="background: url('assets/img/banner/banner-2.jpg');">
  <div class="container">
    <div class="speaker-banner-content">
      <h2 class="title">register</h2>
      <ul class="breadcrumb">
        <li>
          <a href="index.html">
            Home
          </a>
        </li>
        <li>
          register
        </li>
      </ul>
    </div>
  </div>
</section>-->
<!-- ==========Banner-Section========== -->
<!-- ==========Register-Section========== -->
<!--<section class="account-section bg_img" data-background="assets/images/account/account-bg.html">
  <div class="container">
    <div class="padding-top padding-bottom">
      <div class="account-area">
        <div class="section-header-3">
          <span class="cate">welcome !</span>
          <h2 class="title">Create Account</h2>
        </div>
        <form class="account-form">
          <div class="form-group">
            <label for="name">Name<span>*</span></label>
            <input type="text" placeholder="Enter Your Name" id="name" required>
          </div>
          <div class="form-group">
            <label for="email">Email<span>*</span></label>
            <input type="text" placeholder="Enter Your Email" id="email" required>
          </div>
          <div class="form-group">
            <label for="password">Password<span>*</span></label>
            <input type="password" placeholder="Password" id="password" required>
          </div>
          <div class="form-group">
            <label for="confirm-password">Confirm Password<span>*</span></label>
            <input type="password" placeholder="Re-type Password" id="confirm-password" required>
          </div>
          <div class="form-group checkgroup">
            <input type="checkbox" id="agree" required checked>
            <label for="agree">I agree with this <a href="#">Terms  </a> and <a href="#"> Privacy Policy</a>. </label>
          </div>
          <div class="form-group text-center">
            <input type="submit" value="Register">
          </div>
        </form>
        <div class="option">
          Already have an account? <a routerLink="/LogIn">Login</a>.
        </div>
      </div>
    </div>
  </div>
</section>-->
<!-- ==========Register-Section========== -->
<!-- ==========Banner-Section========== -->
<section class="main-page-header speaker-banner" style="background: url('assets/img/banner/banner-2.jpg');">
  <div class="container">
    <div class="speaker-banner-content">
      <h2 class="title">register</h2>
      <ul class="breadcrumb">
        <li>
          <a href="index.html">
            Home
          </a>
        </li>
        <li>
          register
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- ==========Banner-Section========== -->
<!-- ==========Register-Section========== -->
<section class="account-section bg_img" data-background="assets/images/account/account-bg.html">
  <div class="container">
    <div class="padding-top padding-bottom">
      <div class="account-area">
        <div class="section-header-3">
          <span class="cate">welcome !</span>
          <h2 class="title">Create Account</h2>
        </div>
        <form class="account-form" #add="ngForm" (ngSubmit)="addUser(add.value)">
          <div class="form-group">
            <label for="name">Name<span>*</span></label>
            <input type="text" placeholder="Enter Your Name" id="name" required name="FullName" ngModel>
          </div>
          <div class="form-group">
            <label for="email">Email<span>*</span></label>
            <input type="text" placeholder="Enter Your Email" id="email" required name="Email" ngModel>
          </div>
          <div class="form-group">
            <label for="password">Password<span>*</span></label>
            <input type="password" placeholder="Password" id="password" required name="Password" ngModel>
          </div>
          <div class="form-group">
            <label for="confirm-password">Confirm Password<span>*</span></label>
            <input type="password" placeholder="Re-type Password" id="confirm-password" required name="ConfirmPassword" ngModel>
          </div>
          <div class="form-group checkgroup">
            <input type="checkbox" id="agree" required checked>
            <label for="agree">I agree with this <a href="#">Terms  </a> and <a href="#"> Privacy Policy</a>. </label>
          </div>
          <div class="form-group text-center">
            <input type="submit" value="Register">
          </div>
        </form>
        <div class="option">
          Already have an account? <a routerLink="/LogIn">Login</a>.
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ==========Register-Section========== -->
