  <!-- ==========Banner-Section========== -->
<section class="main-page-header speaker-banner" style="background: url('assets/img/banner/banner-2.jpg');">
  <div class="container">
    <div class="speaker-banner-content">
      <h2 class="title">faq</h2>
      <ul class="breadcrumb">
        <li>
          <a href="index.html">
            Home
          </a>
        </li>
        <li>
          faq
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- ==========Banner-Section========== -->
<!-- ==========Faq-Section========== -->
<section class="faq-section padding-top">
  <div class="container">
    <div class="section-header-3">
      <span class="cate">NEED ANY HELP?</span>
      <h2 class="title">Frequently Asked Questions</h2>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
    </div>
    <div class="faq-area padding-bottom">
      <div class="faq-wrapper">
        <div class="faq-item open">
          <div class="faq-title">
            <h6 class="title">How repeat predefined chunks as necessary?</h6>
            <span class="right-icon"></span>
          </div>
          <div class="faq-content" style="display: block;">
            <p>
              There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
            </p>
          </div>
        </div>
        <div class="faq-item">
          <div class="faq-title">
            <h6 class="title">What are many variations of passages?</h6>
            <span class="right-icon"></span>
          </div>
          <div class="faq-content">
            <p>
              There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
            </p>
          </div>
        </div>
        <div class="faq-item active">
          <div class="faq-title">
            <h6 class="title">How majority have suffered alteration ?</h6>
            <span class="right-icon"></span>
          </div>
          <div class="faq-content" style="display: none;">
            <p>
              There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
            </p>
          </div>
        </div>
        <div class="faq-item">
          <div class="faq-title">
            <h6 class="title">Why is contrary to popular belief?</h6>
            <span class="right-icon"></span>
          </div>
          <div class="faq-content">
            <p>
              There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
            </p>
          </div>
        </div>
        <div class="faq-item">
          <div class="faq-title">
            <h6 class="title">What is word in classical literature?</h6>
            <span class="right-icon"></span>
          </div>
          <div class="faq-content">
            <p>
              There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

