<!--<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!-- CSS -->
<!--<link rel="stylesheet" href="/src/assets/css/bootstrap-reboot.min.css">
<link rel="stylesheet" href="/src/assets/css/bootstrap-grid.min.css">
<link rel="stylesheet" href="/src/assets/css/owl.carousel.min.css">
<link rel="stylesheet" href="/src/assets/css/slider-radio.css">
<link rel="stylesheet" href="/src/assets/css/select2.min.css">
<link rel="stylesheet" href="/src/assets/css/magnific-popup.css">
<link rel="stylesheet" href="/src/assets/css/plyr.css">
<link rel="stylesheet" href="/src/assets/css/main.css">-->
<!-- Favicons -->
<!--<link rel="icon" type="image/png" href="icon/favicon-32x32.png" sizes="32x32">
  <link rel="apple-touch-icon" href="icon/favicon-32x32.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">


  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="Dmitry Volkov">



</head>-->
<!-- end head -->
<!-- profile -->
<!--<div class="catalog catalog--page">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="profile">
          <div class="profile__user">
            <div class="profile__avatar">
              <img src="assets/img/avatar.svg" alt="">
            </div>
            <div class="profile__meta">
              <h3>{{container.fullName}}</h3>
            </div>
          </div>-->
<!-- tabs nav -->
<!--<ul class="nav nav-tabs profile__tabs" id="profile__tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Profile</a>
  </li>-->
<!--<li class="nav-item">
  <a class="nav-link" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Favorites</a>
</li>-->
<!--<li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">Settings</a>
  </li>
</ul>-->
<!-- end tabs nav -->
<!--<button class="profile__logout" type="button" (click)="logout()">
          <span>Sign out</span>


        </button>
      </div>
    </div>
  </div>
</div>
<div class="container">-->
<!-- content tabs -->
<!--<div class="tab-content">
  <div class="tab-pane fade show active" id="tab-1" role="tabpanel">
    <div class="row row--grid">-->
<!-- dashbox -->
<!--<div class="col-12 col-xl-6">
  <div class="dashbox">
    <div class="dashbox__title">
      <h3><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21,2a1,1,0,0,0-1,1V5H18V3a1,1,0,0,0-2,0V4H8V3A1,1,0,0,0,6,3V5H4V3A1,1,0,0,0,2,3V21a1,1,0,0,0,2,0V19H6v2a1,1,0,0,0,2,0V20h8v1a1,1,0,0,0,2,0V19h2v2a1,1,0,0,0,2,0V3A1,1,0,0,0,21,2ZM6,17H4V15H6Zm0-4H4V11H6ZM6,9H4V7H6Zm10,9H8V13h8Zm0-7H8V6h8Zm4,6H18V15h2Zm0-4H18V11h2Zm0-4H18V7h2Z" /></svg> Movies for you</h3>
    </div>

    <div class="dashbox__table-wrap dashbox__table-wrap--1">
      <table class="main__table main__table--dash">
        <thead>
          <tr>
            <th>bookingDate</th>
            <th>startTime</th>
            <th>endTime</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of  container2">
            <td>
              <div class="main__table-text"><a href="#">{{item.bookingDate}}</a></div>
            </td>
            <td>
              <div class="main__table-text"><a href="#">{{item.startTime}}</a></div>
            </td>
            <td>
              <div class="main__table-text"><a href="#">{{item.endTime}}</a></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>-->
<!-- dashbox -->
<!--<div class="col-12 col-xl-6">
  <div class="dashbox">
    <div class="dashbox__title">
      <h3><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21,2a1,1,0,0,0-1,1V5H18V3a1,1,0,0,0-2,0V4H8V3A1,1,0,0,0,6,3V5H4V3A1,1,0,0,0,2,3V21a1,1,0,0,0,2,0V19H6v2a1,1,0,0,0,2,0V20h8v1a1,1,0,0,0,2,0V19h2v2a1,1,0,0,0,2,0V3A1,1,0,0,0,21,2ZM6,17H4V15H6Zm0-4H4V11H6ZM6,9H4V7H6Zm10,9H8V13h8Zm0-7H8V6h8Zm4,6H18V15h2Zm0-4H18V11h2Zm0-4H18V7h2Z" /></svg> Movies for you</h3>
    </div>

    <div class="dashbox__table-wrap dashbox__table-wrap--1">
      <table class="main__table main__table--dash">
        <thead>
          <tr>
            <th>Title</th>
            <th>Review Conent</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of  contenerrate">
            <td>
              <div class="main__table-text"><a href="#">{{item.movieTitle}}</a></div>
            </td>
            <td>
              <div class="main__table-text">
                <ng-container *ngFor="let star of [1,2,3,4,5]">
                  <i class="fa fa-star" [ngClass]="star <= item.rating ? 'checked' : ''"></i>
                </ng-container>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="text-end mt-4 d-flex justify-content-end">
      <button class="custom-review-btn" routerLink="/addRatingFormovies/{{ userId }}">
        ✍️ Leave a Review
      </button>
    </div>
  </div>
</div>-->
<!-- end dashbox -->
<!--</div>
</div>
<div class="tab-pane fade" id="tab-3" role="tabpanel">
  <div class="row">-->
<!-- Profile Form -->
<!--<div class="col-12 col-lg-6">
  <form #updatee="ngForm" (ngSubmit)="editExistingUsers(updatee.value)">
    <h4 class="sign__title">Profile details</h4>

    <div class="sign__group">
      <label class="sign__label">UserName</label>
      <input type="text" name="fullName" ngModel class="sign__input" placeholder="User123">
    </div>

    <div class="sign__group">
      <label class="sign__label">Email</label>
      <input type="text" name="email" ngModel class="sign__input" placeholder="email@email.com">
    </div>

    <div class="sign__group">
      <label class="sign__label">Phone</label>
      <input type="text" name="phone" ngModel class="sign__input" placeholder="079...">
    </div>

    <button class="sign__btn" type="submit">Update Info</button>
  </form>
</div>-->
<!--<form #updatee="ngForm" (ngSubmit)="editExistingUsers(updatee.value)">
  <h4 class="sign__title">Profile details</h4>

  <div class="sign__group">
    <label class="sign__label">UserName</label>
    <input type="text" name="fullName" [(ngModel)]="container.fullName" class="sign__input" required>
  </div>

  <div class="sign__group">
    <label class="sign__label">Email</label>
    <input type="email" name="email" [(ngModel)]="container.email" class="sign__input" required>
  </div>

  <div class="sign__group">
    <label class="sign__label">Phone</label>
    <input type="text" name="phone" [(ngModel)]="container.phone" class="sign__input">
  </div>

  <button class="sign__btn" type="submit">Update Info</button>
</form>-->
<!-- Password Form -->
<!--<div class="col-12 col-lg-6">
        <form #changeForm="ngForm" (ngSubmit)="changePassword(changeForm.value)">
          <h4 class="sign__title">Change password</h4>

          <div class="sign__group">
            <label class="sign__label">Old password</label>
            <input type="password" name="oldpass" ngModel class="sign__input">
          </div>

          <div class="sign__group">
            <label class="sign__label">New password</label>
            <input type="password" name="newpass" ngModel class="sign__input">
          </div>
          <button class="sign__btn" type="submit">Change</button>
        </form>

      </div>
    </div>

  </div>
</div>-->
<!-- end content tabs -->
<!--</div>
</div>-->
<!-- end profile -->
<!-- end modal top-up -->
<!-- JS -->
<!--<script src="/src/assets/js/jquery-3.5.1.min.js"></script>
<script src="/src/assets/js/bootstrap.bundle.min.js"></script>
<script src="/src/assets/js/owl.carousel.min.js"></script>
<script src="/src/assets/js/slider-radio.js"></script>
<script src="/src/assets/js/select2.min.js"></script>
<script src="/src/assets/js/smooth-scrollbar.js"></script>
<script src="/src/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/src/assets/js/plyr.min.js"></script>
<script src="/src/assets/js/main.js"></script>-->
<div class="container my-5">
  <!-- Profile Display -->
  <div class="profile-display mb-5">
    <h3 class="text-center">👤 My Profile</h3>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Full Name:</strong> {{ container.fullName }}</li>
          <li class="list-group-item"><strong>Email:</strong> {{ container.email }}</li>
          <li class="list-group-item"><strong>Phone:</strong> {{ container.phone || 'N/A' }}</li>
        </ul>
      </div>
    </div>
  </div>


  <div class="card shadow-lg border-0 rounded-4">
    <div class="card-header bg-primary text-white text-center py-4">
      <h2 class="fw-bold">User Profile Settings</h2>
    </div>

    <div class="card-body p-5">
      <div class="row g-4">

        <!-- Profile Info -->
        <div class="col-md-6">
          <h4 class="mb-4 text-primary">✏️ Edit Personal Details</h4>
          <form #updatee="ngForm" (ngSubmit)="editExistingUsers(updatee.value)">
            <div class="form-floating mb-3">
              <input type="text" name="fullName" [(ngModel)]="container.fullName" class="form-control" placeholder="Full Name" required>
              <label>Full Name</label>
            </div>

            <div class="form-floating mb-3">
              <input type="email" name="email" [(ngModel)]="container.email" class="form-control" placeholder="Email" required>
              <label>Email</label>
            </div>

            <div class="form-floating mb-3">
              <input type="text" name="phone" [(ngModel)]="container.phone" class="form-control" placeholder="Phone">
              <label>Phone</label>
            </div>

            <button type="submit" class="btn btn-primary w-100">Update Info</button>
          </form>
        </div>

        <!-- Change Password -->
        <div class="col-md-6">
          <h4 class="mb-4 text-primary">🔐 Change Password</h4>
          <form #changeForm="ngForm" (ngSubmit)="changePassword(changeForm.value)">
            <div class="form-floating mb-3">
              <input type="password" name="oldpass" ngModel class="form-control" placeholder="Old Password" required>
              <label>Old Password</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" name="newpass" ngModel class="form-control" placeholder="New Password" required>
              <label>New Password</label>
            </div>
            <button type="submit" class="btn btn-warning w-100">Change Password</button>
          </form>
        </div>
      </div>

      <hr class="my-5">

      <!-- Booking History -->
      <div class="mb-5">
        <h4 class="text-success mb-4">🎟️ Your Bookings</h4>
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead class="table-light">
              <tr>
                <th>Booking Date</th>
                <th>Start</th>
                <th>End</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of container2">
                <td>{{ item.bookingDate }}</td>
                <td>{{ item.startTime }}</td>
                <td>{{ item.endTime }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Reviews -->
      <div>
        <h4 class="text-info mb-4">⭐ Movie Reviews</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Movie Title</th>
              <th>Rating</th>
              <th>Review</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of contenerrate">
              <td>{{ item.movieTitle }}</td>
              <td>
                <ng-container *ngFor="let star of [1,2,3,4,5]">
                  <i class="fa fa-star" [ngClass]="star <= item.rating ? 'text-warning' : 'text-muted'"></i>
                </ng-container>
              </td>
              <td>{{ item.reviewText || 'N/A' }}</td>
            </tr>
          </tbody>
        </table>
        <div class="text-end">
          <button class="btn btn-outline-success px-4" [routerLink]="['/addRatingFormovies', userId]">
            ✍️ Leave a Review
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
