<!-- ==========Header-Section========== -->
<!-- ==========Banner-Section========== -->
<section class="banner-section">
  <div class="banner-bg bg-fixed" style="background:url('assets/img/banner/banner-1.jpg')"></div>
  <div class="container">
    <div class="banner-content">
      <h1 class="title  cd-headline clip">
        <span class="d-block">Tickets Booking</span> for
        <span class="color-theme cd-words-wrapper p-0 m-0">
          <b class="is-visible">Movie</b>
         
        </span>
      </h1>
      <p>Buy Your Tickets Online And Enjoy Your Onspot Entertainment!</p>
    </div>
  </div>
</section>
<!-- ==========Banner-Section========== -->
<!-- ==========Ticket-Search========== -->
<!--<section class="search-ticket-section padding-top pt-lg-0">
  <div class="container">
    <div class="search-tab">
      <div class="row align-items-center mb--20">
        <div class="col-lg-6 mb-20">
          <div class="search-ticket-header">
            <h6 class="category">search tickets </h6>
            <h3 class="title">find your tickets now</h3>
          </div>
        </div>
        <div class="col-lg-6 mb-20">
          <ul class="tab-menu ticket-tab-menu">
            <li class="active">
              <div class="tab-thumb">
                <img src="assets/img/ticket/movie.png" alt="ticket">
              </div>
              <span>movie</span>
            </li>
            <li>
              <div class="tab-thumb">
                <img src="assets/img/ticket/event.png" alt="ticket">
              </div>
              <span>events</span>
            </li>
            <li>
              <div class="tab-thumb">
                <img src="assets/img/ticket/sport.png" alt="ticket">
              </div>
              <span>sports</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="tab-area">-->
        <!-- movie tab -->
        <!--<div class="tab-item active">
          <form class="ticket-search-form">
            <div class="form-group large">
              <input type="text" placeholder="Search for Movies">
              <button type="submit"><i class="fas fa-search"></i></button>
            </div>
            <div class="form-group">
              <div class="thumb">
                <img src="assets/img/ticket/city.png" alt="ticket">
              </div>
              <span class="type">city</span>
              <select class="select-bar">
                <option value="london">New York</option>
                <option value="dhaka">California</option>
                <option value="rosario">Texas</option>
                <option value="madrid">Florida</option>
                <option value="koltaka">Nevada</option>
                <option value="rome">Oregon</option>
                <option value="khoksa">Ohio</option>
              </select>
            </div>
            <div class="form-group">
              <div class="thumb">
                <img src="assets/img/ticket/date.png" alt="ticket">
              </div>
              <span class="type">date</span>
              <select class="select-bar">
                <option value="11/04/2023">11/04/2023</option>
                <option value="10/04/2023">10/04/2023</option>
                <option value="09/04/2023">09/04/2023</option>
                <option value="08/04/2023">08/04/2023</option>
                <option value="07/04/2023">07/04/2023</option>
                <option value="06/04/2023">06/04/2023</option>
                <option value="05/04/2023">05/04/2023</option>
              </select>
            </div>
            <div class="form-group">
              <div class="thumb">
                <img src="assets/img/ticket/cinema.png" alt="ticket">
              </div>
              <span class="type">movie</span>
              <select class="select-bar">
                <option value="Avatar">Avatar</option>
                <option value="Inception">Inception</option>
                <option value="Parasite">Parasite</option>
                <option value="Joker">Joker</option>
                <option value="Searching">Searching</option>
                <option value="Coco">Coco</option>
                <option value="Lion">Lion</option>
              </select>
            </div>
            <div class="form-group">
              <div class="thumb">
                <button type="submit" class="filter-btn"><i class="far fa-search"></i></button>
              </div>
            </div>
          </form>
        </div>-->

        <!-- event tab -->
        <!--<div class="tab-item">
          <form class="ticket-search-form">
            <div class="form-group large">
              <input type="text" placeholder="Search for Events">
              <button type="submit"><i class="fas fa-search"></i></button>
            </div>
            <div class="form-group">
              <div class="thumb">
                <img src="assets/img/ticket/city.png" alt="ticket">
              </div>
              <span class="type">city</span>
              <select class="select-bar">
                <option value="london">New York</option>
                <option value="dhaka">California</option>
                <option value="rosario">Texas</option>
                <option value="madrid">Florida</option>
                <option value="koltaka">Nevada</option>
                <option value="rome">Oregon</option>
                <option value="khoksa">Ohio</option>
              </select>
            </div>
            <div class="form-group">
              <div class="thumb">
                <img src="assets/img/ticket/date.png" alt="ticket">
              </div>
              <span class="type">date</span>
              <select class="select-bar">
                <option value="11/04/2023">11/04/2023</option>
                <option value="10/04/2023">10/04/2023</option>
                <option value="09/04/2023">09/04/2023</option>
                <option value="08/04/2023">08/04/2023</option>
                <option value="07/04/2023">07/04/2023</option>
                <option value="06/04/2023">06/04/2023</option>
                <option value="05/04/2023">05/04/2023</option>
              </select>
            </div>
            <div class="form-group">
              <div class="thumb">
                <img src="assets/img/ticket/event-2.png" alt="ticket">
              </div>
              <span class="type">event</span>
              <select class="select-bar">
                <option value="Design">Design</option>
                <option value="Development">Development</option>
                <option value="Software">Software</option>
                <option value="Digital">Digital</option>
                <option value="Festival">Festival</option>
                <option value="Marketing">Marketing</option>
                <option value="Seo">Seo</option>
              </select>
            </div>
            <div class="form-group">
              <div class="thumb">
                <button type="submit" class="filter-btn"><i class="far fa-search"></i></button>
              </div>
            </div>
          </form>
        </div>-->

        <!-- sports tab -->
        <!--<div class="tab-item">
          <form class="ticket-search-form">
            <div class="form-group large">
              <input type="text" placeholder="Search fo Sports">
              <button type="submit"><i class="fas fa-search"></i></button>
            </div>
            <div class="form-group">
              <div class="thumb">
                <img src="assets/img/ticket/city.png" alt="ticket">
              </div>
              <span class="type">city</span>
              <select class="select-bar">
                <option value="london">New York</option>
                <option value="dhaka">California</option>
                <option value="rosario">Texas</option>
                <option value="madrid">Florida</option>
                <option value="koltaka">Nevada</option>
                <option value="rome">Oregon</option>
                <option value="khoksa">Ohio</option>
              </select>
            </div>
            <div class="form-group">
              <div class="thumb">
                <img src="assets/img/ticket/date.png" alt="ticket">
              </div>
              <span class="type">date</span>
              <select class="select-bar">
                <option value="11/04/2023">11/04/2023</option>
                <option value="10/04/2023">10/04/2023</option>
                <option value="09/04/2023">09/04/2023</option>
                <option value="08/04/2023">08/04/2023</option>
                <option value="07/04/2023">07/04/2023</option>
                <option value="06/04/2023">06/04/2023</option>
                <option value="05/04/2023">05/04/2023</option>
              </select>
            </div>
            <div class="form-group">
              <div class="thumb">
                <img src="assets/img/ticket/sport-2.png" alt="ticket">
              </div>
              <span class="type">sport</span>
              <select class="select-bar">
                <option value="Cricket">Cricket</option>
                <option value="Football">Football</option>
                <option value="Basketball">Basketball</option>
                <option value="Baseball">Baseball</option>
                <option value="Golf">Golf</option>
                <option value="Running">Running</option>
                <option value="Badminton">Badminton</option>
              </select>
            </div>
            <div class="form-group">
              <div class="thumb">
                <button type="submit" class="filter-btn"><i class="far fa-search"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>-->
<!-- ==========Ticket-Search========== -->
<!-- ==========Movie-Section========== -->
<section class="movie-section padding-top bg-two">
  <div class="container">
    <div class="row flex-wrap-reverse justify-content-center">
      <div class="col-lg-12">
        <div class="article-section padding-bottom">
          <div class="section-header-1">
            <h2 class="title">movies</h2>
            <a class="view-more" href="movie-grid.html">View More <i class="fal fa-long-arrow-alt-right"></i> </a>
          </div>
          <div class="row mb-30-none justify-content-center">
            <div class="col-sm-6 col-lg-4">
              <div class="movie-grid">
                <div class="movie-thumb c-thumb">
                  <a href="#">
                    <img src="assets/img/movie/movie-1.jpg" alt="movie">
                  </a>
                </div>
                <div class="movie-content">
                  <h5 class="title m-0">
                    <a href="#">Avatar Special Edition</a>
                  </h5>
                  <ul class="movie-rating-percent">
                    <li>
                      <!--<i class="fal fa-shopping-cart"></i>-->
                      <span class="content">88.8k</span>
                    </li>
                    <li>
                      <i class="fal fa-star"></i>
                      <span class="content">5.0</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="movie-grid">
                <div class="movie-thumb c-thumb">
                  <a href="#">
                    <img src="assets/img/movie/movie-2.jpg" alt="movie">
                  </a>
                </div>
                <div class="movie-content">
                  <h5 class="title m-0">
                    <a href="#">Avengers Endgame</a>
                  </h5>
                  <ul class="movie-rating-percent">
                    <li>
                      <!--<i class="fal fa-shopping-cart"></i>-->
                      <span class="content">88.8k</span>
                    </li>
                    <li>
                      <i class="fal fa-star"></i>
                      <span class="content">5.0</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="movie-grid">
                <div class="movie-thumb c-thumb">
                  <a href="#">
                    <img src="assets/img/movie/movie-3.jpg" alt="movie">
                  </a>
                </div>
                <div class="movie-content">
                  <h5 class="title m-0">
                    <a href="#">Terminator 2</a>
                  </h5>
                  <ul class="movie-rating-percent">
                    <li>
                      <!--<i class="fal fa-shopping-cart"></i>-->
                      <span class="content">88.8k</span>
                    </li>
                    <li>
                      <i class="fal fa-star"></i>
                      <span class="content">5.0</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="movie-grid">
                <div class="movie-thumb c-thumb">
                  <a href="#">
                    <img src="assets/img/movie/movie-4.jpg" alt="movie">
                  </a>
                </div>
                <div class="movie-content">
                  <h5 class="title m-0">
                    <a href="#">The Salesman</a>
                  </h5>
                  <ul class="movie-rating-percent">
                    <li>
                      <!--<i class="fal fa-shopping-cart"></i>-->
                      <span class="content">88.8k</span>
                    </li>
                    <li>
                      <i class="fal fa-star"></i>
                      <span class="content">5.0</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="movie-grid">
                <div class="movie-thumb c-thumb">
                  <a href="#">
                    <img src="assets/img/movie/movie-5.jpg" alt="movie">
                  </a>
                </div>
                <div class="movie-content">
                  <h5 class="title m-0">
                    <a href="#">La La Land</a>
                  </h5>
                  <ul class="movie-rating-percent">
                    <li>
                      <!--<i class="fal fa-shopping-cart"></i>-->
                      <span class="content">88.8k</span>
                    </li>
                    <li>
                      <i class="fal fa-star"></i>
                      <span class="content">5.0</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="movie-grid">
                <div class="movie-thumb c-thumb">
                  <a href="#">
                    <img src="assets/img/movie/movie-6.jpg" alt="movie">
                  </a>
                </div>
                <div class="movie-content">
                  <h5 class="title m-0">
                    <a href="#">First Man</a>
                  </h5>
                  <ul class="movie-rating-percent">
                    <li>
                      <!--<i class="fal fa-shopping-cart"></i>-->
                      <span class="content">88.8k</span>
                    </li>
                    <li>
                      <i class="fal fa-star"></i>
                      <span class="content">5.0</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ==========Movie-Section========== -->
<!-- ==========Event-Section========== -->
<section class="movie-section padding-top bg-two">
  <div class="container">
    <div class="row flex-wrap-reverse justify-content-center">
      <div class="col-lg-12">
        <div class="article-section padding-bottom">
          <div class="section-header-1">
            <h2 class="title">Coming Soon</h2>
            <!--<a class="view-more" href="movie-grid.html">View More <i class="fal fa-long-arrow-alt-right"></i> </a>-->
          </div>
          <div class="row mb-30-none justify-content-center">
            <div class="col-sm-6 col-lg-4">
              <div class="movie-grid">
                <div class="movie-thumb c-thumb">
                  <a href="#">
                    <img src="assets/img/movie/movie-1.jpg" alt="movie">
                  </a>
                </div>
                <div class="movie-content">
                  <h5 class="title m-0">
                    <a href="#">Avatar Special Edition</a>
                  </h5>
                  <ul class="movie-rating-percent">
                    <li>
                     
                      <span class="content">88.8k</span>
                    </li>
                    <li>
                      <i class="fal fa-star"></i>
                      <span class="content">5.0</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="movie-grid">
                <div class="movie-thumb c-thumb">
                  <a href="#">
                    <img src="assets/img/movie/movie-2.jpg" alt="movie">
                  </a>
                </div>
                <div class="movie-content">
                  <h5 class="title m-0">
                    <a href="#">Avengers Endgame</a>
                  </h5>
                  <ul class="movie-rating-percent">
                    <li>
                      <span class="content">88.8k</span>
                    </li>
                    <li>
                      <i class="fal fa-star"></i>
                      <span class="content">5.0</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="movie-grid">
                <div class="movie-thumb c-thumb">
                  <a href="#">
                    <img src="assets/img/movie/movie-3.jpg" alt="movie">
                  </a>
                </div>
                <div class="movie-content">
                  <h5 class="title m-0">
                    <a href="#">Terminator 2</a>
                  </h5>
                  <ul class="movie-rating-percent">
                    <li>
                     
                      <span class="content">88.8k</span>
                    </li>
                    <li>
                      <i class="fal fa-star"></i>
                      <span class="content">5.0</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

     
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ==========coming-Section========== -->


