<div class="container">
  <h2>Edit Movie</h2>

  <!-- إذا كانت البيانات قيد التحميل -->
  <div *ngIf="!movie.title">
    <p>Loading movie details...</p>
  </div>

  <!-- عرض النموذج عند تحميل بيانات الفيلم -->
  <form *ngIf="movie.title" (ngSubmit)="editMovie()">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" [(ngModel)]="movie.title" name="title" required>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" [(ngModel)]="movie.description" name="description" required></textarea>
    </div>

    <div class="form-group">
      <label for="category">Category</label>
      <select class="form-control" id="category" [(ngModel)]="movie.categoryId" name="categoryId" required>
        <option style="color: #000" *ngFor="let category of categories" [value]="category.id">{{ category.categoryName }}</option>
      </select>
    </div>


    <button type="submit" class="btn btn-primary" [disabled]="!movie.title || !movie.description || !movie.categoryId">Save Changes</button>
  </form>
</div>
